pandas
django==2.2.10
googlemaps
sqlalchemy
pymysql
matplotlib
confluent_kafka
requests
bs4
lxml
opencc-python-reimplemented
jieba
sklearn 
joblib
numpy
bs4
textrank4zh
snownlp
pprint
pymongo
numpy
shortcuts
transformers==2.1.1
wordcloud
elasticsearch
argparse